[submodule "protos"]
	path = protos
	url = https://github.com/oianmol/capillary_protos.git
[submodule "generate_protos"]
	path = generate_protos
	url = https://github.com/oianmol/capillary_generate_proto.git
